@import "./buttons.css";
@import "./boostrapplus.css";
@import "./banner.css";
@import "./SearchBar.css";
@import "./Searched.css";
@import "./Filters.css";
@import "./Cards.css";
@import "./AboutSection.css";

.c1 {
  background-color: #2563eb;
}

.c2 {
  background-color: #f8b84e;
}

.white {
  background-color: white;
}
